body {
    background-color: #f4f4f4;
    color: #333;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

.form-container {
    width: 50%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.output-container {
    width: 50%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    text-align: left;
}

button {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}
